body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    background-color: transparent;
    line-height: 31px;
}

.name {
    padding-top: 200px;
    font-size: 64px;
    color: #553690;
    line-height: 70px;
}